body{
    background-image: url("../img/Fondoregistrar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

body, html{
    margin: 0;
    padding: 0;
    }


#caja1{
    float: left;
    text-align: center;
    width: 500px;
    margin-left: 30%;
    margin-top: 10%;
    border:2px;
}

#caja1 label{
    display: inline-block;
    width: 15%;
    color:black;
}

#caja1 input{
    margin-left: 10px;
    background-color:white;
    border-radius: 20px;
}