.cuadrado{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
}

.rombo{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    transform: rotate(45deg);
}

.paralelogramo{
    width: 150px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    transform: skew(20deg);
}

.triangulo{
    width: 0px;
    height: 0px;
    border-left: 50px solid brown;
    border-top: 50px solid transparent;
    border-right:  50px solid transparent;
    border-bottom:  50px solid brown;
    transform: rotate(135deg);
    margin: 50px;
}

.circulo1{
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 50%;
}

.circulo2{
    width: 0px;
    height: 0px;
    border-radius: 100%;
    margin-left: 50px solid brown;
    border-top: 50px solid blue;
    border-right: 50px solid green;
    border-bottom: 50px solid yellow;  
}

.triangulo2{
    width: 100px;
    height: 100px;
    background-color: rgb(87, 142, 187);
    clip-path: polygon(50% 0,100% 100%, 0 100%);
}
.diamante{
    width: 100px;
    height: 100px;
    background-color: rgb(87, 142, 187);
    clip-path: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 50% 100%);
}

.animado{
    width: 50%;
    transition: all 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.animado:hover{
    clip-path: polygon(50% 0,100% 50%, 50% 100%, 0 50%);
}